</main>
<footer>
    <div class="card">
  <div class="card-header">
    nothing here 
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">Nada importante, solo...</p>
    <a href="/mirealidad" class="btn btn-primary">Mi realidad</a>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</footer>