{{> header}}
{{> navbar}} 
es una ilustradora de manga nacida un 27 de noviembre en la Prefectura de Ehime, Japón. Mato es conocida por haber hecho la ilustración de los tomos 1 al 9 de la serie Pocket Monsters Special. Debido a cuestiones de salud, a Mato le fue imposible continuar dibujando para la serie y Satoshi Yamamoto empezó a hacerse cargo de los siguientes tomos.
mas informacion en el link...
<img src="image/tomo 1.png" alt="" style="float:right; width: 300px;height: 400px; margin-top: 10%; margin-left 50%";>
<a href="url">https://www.wikidex.net/wiki/Mato</a>
{{> footer}}