{{> header}}
{{> navbar}} 
Artista digital, ilustrador y artista de animación que publica una mezcla de jugadas, vlogs, desafíos, sketchs, animaciones, versiones de canciones y pintura rápida en su canal de YouTube.
<img src="image/fili.jpeg" alt="" style="float:right; width: 300px;height: 200px; margin-top: 10%; margin-left 50%";>
<a href="url">https://www.youtube.com/channel/UCXtJs6rXKTQe5JhOslTeJTA</a>
{{> footer}}
