{{> header}}
{{> navbar}} 
Su contenido son vídeos musicales animados. Son más conocidos por su sección "Destripando la Historia", donde hacen vídeos musicales explicando una historia (sea de seres mitológicos, personajes de cuentos, cómics, de alguna festividad, etc.).

<img src="image/destripando.jpg" alt="" style="float:right; width: 300px;height: 200px; margin-top: 10%; margin-left 50%";>
<a href="https://www.youtube.com/channel/UCxIBZ-nQhgZES3UaTm8eDPA">Canal de pascu y rodri</a> 
{{> footer}}