{{> header}}
{{> navbar}} 
Piyoasdf es una youtuber chilena, otaku y cosplayer. Se ha hecho popular gracias a sus tutoriales de dibujo, covers y speedpaints. Cuenta con más de 640.000 suscriptores en su canal de YouTube.

<img src="image/piyoasdf.jpg" alt="" style="float:right; width: 300px;height: 200px; margin-top: 10%;">
<a href="https://www.youtube.com/user/piyoasdf">Canal de piyo</a>
{{> footer}}
